<%- include("./includes/head") %>
  </head>
  <body>
    <%- include("./includes/navigation") %>

    <h1 class="primary-heading txt-large txt-center">Server Error. We are working to fix it. Sorry for the inconvenience</h1>
</body>